*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 150, 150);
}
.loginpage{
    height: 350px;
    width: 350px;
    border: solid 5px whitesmoke;
    border-radius: 7px;
    margin-left: 35%;
    margin-top: 5%;
}
.adminlogin{
    color: wheat;
    font-style: oblique;
    text-align: center;
}
.adminusername input{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20%;
    border: solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}
.adminemail input{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20%;
    border: solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}
.adminpassword input{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20%;
    border: solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}
.adminbut button{
    height: 40px;
    width: 100px;
    border: solid whitesmoke;
    border-radius: 20px;
    margin-left: 35%;
    margin-top: 19px;
}



