*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.loginpage{
    height: 350px;
    width: 350px;
    border: solid whitesmoke;
    border-radius: 7px;
    margin-left: 35%;
    margin-top: 5%;
}
.alogin{
    color: blue;
    font-style: oblique;
    text-align: center;
}
.username input{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20%;
    border: solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}
.email input{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20%;
    border: solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}
.password input{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20%;
    border: solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}
.but button{
    height: 40px;
    width: 100px;
    border: solid whitesmoke;
    border-radius: 20px;
    margin-left: 35%;
    margin-top: 19px;
}
.fp :link{
    text-decoration: none;
  margin-bottom: 20px;
  margin-left: 30%;
}


