@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: o;
    margin:0;
    box-sizing:border-box;
}

.OtpBox{
    height: 50px;
    width: 50px;
    border: 0.5px solid grey;
    box-shadow: -3px 3px 5px rgb(40, 39, 39,0.50);
    border-radius: 4px;
    text-align: center;
    outline: none;
}

.StudentOtpButton{
    height: 40px;
    background-color: blue;
    color:white;
    border-radius:8px;
    width:200px
}